{
  "server": {
    "host": "0.0.0.0",
    "port": 80
  },
  "alert": {
    "enabled": false,
    "threshold": 0.93
  },
  "slack": {
    "hookURL": "https://hooks.slack.com/services/aaa/bbb/ccc",
    "channel": "aaa"
  }
}
